<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <div class="container">
    <a th:href="@{/}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" class="forum-back-arrow">
        <path d="M6 3L0 8l6 5v-3h4V6H6z"></path>
      </svg>
    </a>
    <h1 class="title" th:text="#{project}"></h1>
    <h2 class="subtitle" th:text="${project.name}"></h2>

    <a class="button is-link" th:text="#{topic.new}"
       th:href="@{/project/{id}/topic/create(id=${project.id})}"></a>


    <a sec:authorize="isAuthenticated() and (hasRole('ADMIN') or principal.id == #vars.project.getCreatedBy().getId())"
           th:text="#{project.edit_project}"
           th:href="@{/project/{id}/edit(id=${project.id})}"
           class="button is-link"></a>
           
    <table class="table">
      <tbody>
      <tr th:each="topic : ${topics}">
        <td><a th:href="@{/topic/{id}(id=${topic.id})}" th:text="${topic.title}"></a></td>
        <td><a href="#" th:text="${topic.createdBy.username}"></a></td>
      </tr>
      </tbody>
      <thead>
      <tr>
        <th th:text="#{topic.title}"></th>
        <th th:text="#{creator}"></th>
      </tr>
      </thead>
    </table>
  </div>
</section>
</body>
</html>
