<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spring Forum</title>
  <link rel="stylesheet"
        th:href="@{https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.min.css}">
  <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>
<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img th:src="@{/img/spring-logo.svg}">
    </a>
    <div class="navbar-burger burger" data-target="navbarEx">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarEx" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/" th:text="#{home}"></a>
    </div>

    <div class="navbar-end">
      <a class="navbar-item" sec:authorize="isAnonymous()"
         th:href="@{/register}" th:text="#{user.register}"></a>

      <a class="navbar-item" sec:authorize="isAnonymous()"
         th:href="@{/login}" th:text="#{user.login}"></a>

      <a class="navbar-item" sec:authorize="hasRole('ROLE_ADMIN')"
         th:href="@{/users}" th:text="#{users}"></a>

      <div class="navbar-item has-dropdown is-hoverable" sec:authorize="isAuthenticated()">
        <a class="navbar-link"
           th:text="${#authentication.getName()}"></a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item lang-changer"
             th:text="#{lang.fr}"
             data-lang="fr"></a>
          <a class="navbar-item lang-changer"
             th:text="#{lang.eng}"
             data-lang="en"></a>
          <a class="navbar-item"
             th:text="#{user.modify}"
             th:href="@{/user/{id}/edit(id=(${#authentication.principal.id}))}"></a>
          <form sec:authorize="isAuthenticated()" id="logoutForm" th:action="@{/logout}"
                method="post">
            <a id="logoutBtn" class="navbar-item" th:text="#{logout.btn}"></a>
          </form>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable" sec:authorize="isAnonymous()">

      </div>
    </div>
  </div>
</nav>
<section layout:fragment="content"></section>
<script defer src="https://use.fontawesome.com/releases/v5.0.2/js/all.js"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/follow.js}"></script>
<script th:src="@{/js/addPermission.js}"></script>
</body>
</html>
