<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <div class="container">

    <h1 class="title" th:text="#{topic.new}"></h1>

    <form th:action="@{/project/{id}(id=${projectId})}" th:object="${topic}"
          method="post">
      <div class="field">
        <label class="label" th:text="#{topic.title}"></label>
        <div class="control">
          <input class="input" th:field="*{title}"/>
          <p class="help is-danger"
             th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}"></p>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button type="submit" class="button is-primary is-outlined" th:text="#{submit}"></button>
          <a class="button" th:href="@{/project/{id}(id=${projectId})}" th:text="#{cancel}"></a>
        </div>
      </div>

    </form>

  </div>
</section>
</body>
</html>
