<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <div class="container">

    <h1 class="title" th:text="#{topic.new}"></h1>

    <form th:action="@{/project/{id}/topic(id=${projectId})}"
          th:object="${topic}"
          method="post">
      <div class="field">
        <label class="label" th:text="#{topic.title}"></label>
        <div class="control">
          <input class="input" th:field="*{title}"/>
          <p class="help is-danger"
             th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}"></p>
        </div>

        <label class="label" th:text="#{post.new}"></label>
        <div class="control">
          <textarea class="textarea" th:value="${postContent}" th:name="postContent"
                    th:placeholder="#{post.content.placeholder}"></textarea>
          <p class="help is-danger"
             th:if="${errorPostContent == ''}"
             th:text="#{post.content.error.empty}">
          </p>
        </div>

        <label class="label" th:text="#{authorizeAnonymousAccess}"></label>
        <div class="control">
          <input type="checkbox" th:name="anonymousAccess" th:value="enabled">
        </div>

        <p th:text="#{topic.permission_info}"></p>
        <label class="label" th:text="#{authorizeAnonymousAccess}"></label>
        <div class="control">
          <input th:if="${projectEnableAnonymous}" checked type="checkbox" th:name="anonymousAccess" th:value="enabled">
          <input th:if="${!projectEnableAnonymous}" type="checkbox" th:name="anonymousAccess" th:value="enabled">
        </div>

        <p th:text="#{user.addToPermission}"></p>
        <div class="control">
          <select id="selectUser">
            <option  th:each="user : ${users}"
                     th:value="${user.id}"
                     th:text="${user.username}">
            </option>
          </select>
        </div>
        <input id="ajoutUserPermission" type="button" th:text="#{user.addToPermission}">

        <p th:text="#{permissions}"></p>
        <div id="permissionsList">
          <!--p : user name, checkbox 1 : write, checkbox 2 : read, pas d'ajax-->
          <!--Générer les permissions existantes du projet parent sous la même forme-->
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button type="submit" class="button is-primary is-outlined" th:text="#{submit}"></button>
          <a class="button" th:href="@{/project/{id}(id=${projectId})}" th:text="#{cancel}"></a>
        </div>
      </div>

    </form>
  </div>
</section>
</body>
</html>
