<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
    <body>
        <section class="section" layout:fragment="content">
            <div class="container">
                <h1 class="title" th:text="#{topic}"></h1>
                <h2 class="subtitle" th:text="${topic.title}"></h2>
                <a class="button is-link" th:text="#{topic.return}" th:href="@{'/topic/'+${topic.id}}"></a>
                <fieldset class="section">
                    <legend th:text="#{topic.general_info}" ></legend>
                    <form th:action="@{'/topic/'+${topic.id}+'/edittopic'}" 
                          th:object="${topic}"
                          method="post">

                        <div class="field">
                            <label class="label" th:text="#{topic.title}">Label</label>
                            <div class="control">
                                <input class="input" type="text" th:value="${topic.title}"/>
                            </div>
                            <p class="help">This is a help text</p>
                        </div>


                        <div class="field">
                            <div class="control">
                                <input type="checkbox" th:checked="${topic.anonymousCanAccess}">
                                <label class="checkbox" th:text="#{topic.anonymous_access}">

                                </label>
                            </div>
                        </div>

                        <div class="control">
                            <button class="button is-primary" th:text="#{topic.submit}"></button>
                        </div>
                    </form>
                </fieldset>

                <fieldset class="section">
                    <legend th:text="#{topic.permission_info}" ></legend>
                    <div class="columns">
                        <div class="column is-one-third">
                            <input id="idTopic" type="hidden" th:value="${topic.id}"/>
                            <div class="control">
                                <div class="select">
                                    <select id="selectPermission">
                                        <option value="READ">Lecture</option> 
                                        <option value="WRITE">Ecriture</option> 
                                        <option value="ALL">Tout</option> 
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="column">
                            <div class="control">
                                <div class="select">
                                    <select id="selectUser">
                                        <span  th:each="user : ${users}">
                                            <option  th:value="${user.id}" th:text="${user.username}" ></option> 
                                        </span>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="column">
                            <div class="control">
                                <button class="button is-primary" onclick="addPermission()" th:text="#{topic.submit}"></button>
                            </div>
                        </div>
                    </div>
                </fieldset> 


                <fieldset class="section">
                    <legend> Recap des droits</legend>

                    <div class="columns">
                        <div class="column is-half">
                            <aside class="menu">
                                <p class="menu-label">
                                    Reader
                                </p>
                                <ul class="menu-list">
                                    <span  th:each="user : ${usersReader}">
                                        <li th:text="${user.username}" ></li> 
                                    </span>
                                </ul>
                            </aside>
                        </div>
                        <div class="column">
                            <aside class="menu">
                                <p class="menu-label">
                                    Writer
                                </p>
                                <ul class="menu-list">
                                    <span  th:each="user : ${usersWriter}">
                                        <li th:text="${user.username}" ></li> 
                                    </span>
                                </ul>
                            </aside>
                        </div>
                    </div>
                </fieldset>
            </div>
        </section>
    </body>
</html>
