<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <div class="container">

    <h1 class="title" th:text="#{topic.new}"></h1>

    <form th:action="@{'/project/' + ${projectId} + '/newtopic'}" th:object="${topic}" method="post">
      <div class="field">
        <label class="label" th:text="#{topic.title}"></label>
        <div class="control">
          <input class="input" th:field="*{title}"/>
          <p class="help is-danger"
             th:if="${#fields.hasErrors('title')}"
             th:errors="*{title}">title error</p>
        </div>
      </div>

      <div class="field is-grouped is-grouped-centered">
        <div class="control">
          <button class="button is-info" th:text="#{submit}"></button>
        </div>
      </div>

    </form>

  </div>
</section>
</body>
</html>
