<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">
<body>
<section class="section" layout:fragment="content">
  <input type="hidden" id="idTopic" th:value="${topic.id}">

  <div class="container">
    <a th:href="@{/project/{id}(id=${topic.project.id})}">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 16" class="forum-back-arrow">
        <path d="M6 3L0 8l6 5v-3h4V6H6z"></path>
      </svg>
    </a>
    <h1 class="title" th:text="${topic.title}"></h1>
    <h2 class="subtitle"><span th:text="#{project}"></span> : <span
        th:text="${topic.project.name}"></span></h2>

    <a class="button is-primary" th:text="#{post.new}"
       th:href="@{/topic/{id}/post/create(id=${topic.id})}"></a>

    <a sec:authorize="isAuthenticated() and (hasRole('ADMIN') or principal.id == #vars.topic.getCreatedBy().getId())"
       th:text="#{topic.edit}"
       th:href="@{/topic/{id}/edit(id=${topic.id})}"
       class="button is-primary"></a>

    <a sec:authorize="isAuthenticated()"
       th:style="${!isFollowing} ? 'display:inline-flex' : 'display:none'"
       id="followBtn" class="button is-primary" th:text="#{topic.follow}"></a>

    <a sec:authorize="isAuthenticated()"
       th:style="${isFollowing} ? 'display:inline-flex' : 'display:none'"
       id="unfollowBtn" class="button is-primary" th:text="#{topic.unfollow}"></a>

    <article class="message" th:each="post : ${posts}">
      <div class="message-header">
        <strong class="is-pulled-left" th:text="${post.getCreatedBy().getUsername()}"></strong>
        <a sec:authorize="isAuthenticated() and (hasRole('ADMIN') or principal.id == #vars.post.getCreatedBy().getId())"
           th:text="#{modify}"
           th:href="@{/post/{id_post}/update(id_post=${post.getId()})}"
           class="button is-primary is-inverted"></a>
        <span class="is-pulled-right" th:text="${post.getCreatedAt()}"></span>
      </div>

      <div th:text="${post.content}" class="message-body">
      </div>
    </article>

  </div>
</section>
</body>
</html>
